.main{
    font-size: 25px;
}

.section-main1{
    height: fit-content;
}

.section-devLog{
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.devLogIMG{
    max-width: 75%;
    transition: transform 0.25s ease;
    border: 5px solid black;
}

.image-description{
    text-align: left;
    font-size: 40px;
}

@media screen and (max-width: 1250px) {
    .devLogIMG:hover{
        transform:scale(1.25);
    }

    .image-description{
        margin-top: 10px;
        margin-right: 0;
    }

    .devLogIMG{
        max-width: 100%;
    }

}

.image-description{
    font-size: 15px;
}