.section-higherLower1 {
    height: fit-content;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.composerImage, .composerImage2 {
    object-fit: cover;
    min-width: 550px;
    max-width: 550px;
}

.button {
    display: inline-block;
    padding: 20px 35px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 10px;
    color: #3498db;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    height: fit-content;
}

.button:hover {
    background-color: #3498db;
    color: #ffffff;
}

.secondary-button {
    margin-left: 10px;
    border-color: #e74c3c;
    color: #e74c3c;
}

.secondary-button:hover {
    background-color: #e74c3c;
    color: #ffffff;
}

.borderWin {
    border: 5px solid limegreen;
}

.borderLose {
    border: 5px solid red;
}

.scoreSection {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria;
    font-size: 30px;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1452px) {
    .composerImage, .composerImage2 {
        max-width: 350px;
        min-width: 350px;
    }

    .composerDescription {
        font-size: 25px;
    }

    .button {
        padding: 20px 50px;
        font-size: 30px;
    }

}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: white;
}

.radio-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.radio-group label {
    margin: 0 10px;
    font-size: 25px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"] + label {
    cursor: pointer;
    padding: 8px 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #3498db;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #3498db;
    color: #fff;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


