@media screen and (min-width: 501px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #222;
        color: #fff;
        display: flex;
        min-height: 100vh;

    }
    .info1 {
        position: relative;
        border-radius: 25px;
        background: gray;
        padding: 25px;
        width: fit-content;
        height: fit-content;
        left:10%;
        margin-top: 200px;
        max-width: 350px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: content-box;
    }

    .info2 {
        position: relative;
        border-radius: 25px;
        background: gray;
        padding: 25px;
        width: fit-content;
        height: fit-content;
        left: 45%;
        margin-top: 200px;
        max-width: 350px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: content-box;
    }
    .content {
        flex: 1;
        padding: 400px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(239478107_572190387497342_7465870120679779772_n.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:40%;}

    .container {
        position: fixed;
        max-width: 300px;
        margin-left: 42%;
        height: 500px;
        padding: 50px;
        color: #555;
        text-align: center;
    }

}


.buttons{
    margin-left: 60px;
}

@media screen and (max-width: 500px){
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #222;
        color: #fff;
        display: inline;
        min-height: 100vh;
    }

    .content{
        position: relative;
        width: 250px;
        height: 250px;
        margin-left: 20%;
        background-image: url(239478107_572190387497342_7465870120679779772_n.jpg);
        background-repeat: no-repeat;
        background-size:100%;
        margin-top: 25px;
    }

    .text{
        position: absolute;
        top: 50%;
        left: 85px;
        color: gold;
        font-family: Onyx;
    }

    .info1 {
        position: relative;
        border-radius: 25px;
        background: gray;
        padding: 25px;
        width: fit-content;
        height: fit-content;
        margin-left: 5px;
        margin-top: 50px;
        max-width: 325px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: content-box;
    }
    .info2{position: relative;
        border-radius: 25px;
        background: gray;
        padding: 25px;
        width: fit-content;
        height: fit-content;
        left: 5px;
        margin-top: 50px;
        max-width: 325px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: content-box;
        margin-bottom: 100px;}

    .container {
        position: relative;
        max-width: 300px;
        height: 50px;
        padding: 50px;
        color: #555;
        text-align: center;
    }

}

.langWrap{
    background: #333;
}

.fa-language{
    color: white;
}

a.active{
    background: #f21313;
}

.langswitch{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    background: #555656;
    font-size: 18px;
}
