@media screen and (min-width: 1739px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #222;
        color: #fff;
        display: flex;
        min-height: 100vh;

    }
    .info1 {
        position: relative;
        border-radius: 10px;
        background: gray;
        padding: 25px;
        width: fit-content;
        height: fit-content;
        left:250px;
        margin-top: 200px;
        max-width: 400px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: border-box;
    }

    .info2 {
        position: relative;
        border-radius: 10px;
        background: gray;
        padding: 25px;
        width: fit-content;
        height: fit-content;
        right: 250px;
        margin-top: 200px;
        max-width: 400px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: border-box;
    }

    .contentMOBILE {
        visibility: hidden;
        position: fixed;
    }

    .contentDESKTOP{
        position: relative;
        text-align: center;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(239478107_572190387497342_7465870120679779772_n.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;
    }

    .text{
        position: absolute;
        top: 50%;
        left: 50%;
        color: gold;
        font-family: Onyx;


    }

    .container {
        position: absolute;
        margin-left: auto;
        max-width: 250px;
        color: #555;
        text-align: center;
        margin-top: 25px;
    }

    }

.buttons{
    margin-left: 60px;
}

@media screen and (max-width: 1740px){
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #222;
        color: #fff;
        display: inline;
        min-height: 100vh;
    }

    .contentMOBILE{
        position: relative;
        max-width: 400px;
        height: 400px;
        padding: 50px;
        color: #555;
        width: 500px;
        background-image: url(239478107_572190387497342_7465870120679779772_n.jpg);
        background-repeat: no-repeat;
        background-size:400px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .contentDESKTOP{
        visibility: hidden;
        position: fixed;
    }

    .text{
        position: absolute;
        top: 50%;
        left: 50%;
        color: gold;
        font-family: Onyx;
    }

    .info1 {
        position: relative;
        float: left;
        border-radius: 25px;
        background: gray;
        padding: 25px;
        width: fit-content;
        height: fit-content;
        margin: 50px auto;
        left: 250px;
        max-width: 325px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: content-box;
    }
    .info2 {
        position: relative;
        float: right;
        border-radius: 25px;
        background: gray;
        padding: 25px;
        width: fit-content;
        height: fit-content;
        margin: 50px auto;
        right: 250px;
        max-width: 325px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: content-box;
    }

    .container {
        position: relative;
        max-width: 300px;
        height: 50px;
        padding: 50px;
        color: #555;
        text-align: center;

    }

}

@media screen and (max-width: 1255px){

    .info1{
        position: relative;
        float:none;
        border-radius: 25px;
        background: gray;
        padding: 25px;
        left: 0px;
        width: fit-content;
        height: fit-content;
        max-width: 325px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: content-box;
    }

    .info2{
        position: relative;
        float:none;
        border-radius: 25px;
        background: gray;
        padding: 25px;
        left: 0px;
        width: fit-content;
        height: fit-content;
        max-width: 325px;
        box-shadow: 10px 10px 10px whitesmoke;
        box-sizing: content-box;
    }
}

.langWrap{
    background: #333;
}

.fa-language{
    color: white;
}

a.active{
    background: #f21313;
}

.langswitch{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    background: #555656;
    font-size: 18px;
}
